/SyncFromServer.sh
/SyncServer.sh
/.project
/.pydevproject
/temp
/resources
/disamseer/test/output/*.npy
/disamseer/test/*.py
/disamseer/test
/disamseer/test/output
/output2
/disamseer/classifier/rfserver.py
/disamseer/classifier/predictrf.py
/AAAI
/disamseer/extract_child_blocks.py
/disamseer/get_sample_bow_vectors.py
/output_CNN/
/output_trainset_size/
/scripts/
/medline_*